
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<div class="span6">

<h5>{{ question.question_text }}</h5>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"><label for="choice{{ forloop.counter }}"> <strong>{{ choice.choice_text }}</strong></label><br>
{% endfor %}
<p>
<input type="submit" class="btn btn-large btn-success"  value="Vote" >
</p>
</form>
</div>
